<!-- map-rating-activities.component.html -->
<div id="map" style="height: 300px;"></div>
<div class="btn-group d-flex justify-content-end">
  <span><img src="../../assets/like-icon.png" alt="" width="28" height="28"></span>
  <span><img src="../../assets/comment-icon.png" alt="" width="28" height="28"></span>
    <span><img src="../../assets/pin-icon.png" alt="" width="28" height="28"></span>
</div>
<div>
  <h4>Activities</h4>
  <ul>
    <li *ngFor="let activity of activities">{{ activity }}</li>
  </ul>
</div>
