
.polaroid {
  background-color: rgba(255, 255, 255); /* Negro con 50% de transparencia */
  padding: 2px 2px 35px 2px;
  box-shadow: 8px 8px 24px #3f51b5;
}

.RotarIzq {
  transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
}


.thumbnail-container {
  float: left;
  margin: 5px;
  transition: transform 0.2s ease-in-out;
}

.thumbnail-img {
  width: 250px;
  height: 170px;
  border: 3px solid #000000;
  border-radius: 5%;
}

.thumbnail-container:hover {
  transform: scale(1.1);
}

.col-md-8 {
  position: relative;
  overflow: hidden;
}

.col-md-8:hover .main-image::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: transform 0.3s ease-out;
  transform: scale(2);
}

.col-md-8:hover .main-image:hover::before {
  transform: scale(1);
}

.main-image {
  width: 100%;
  max-width: 100%;
  border-radius: 5%;
  height: auto;
  display: block;
  transition: background-size 0.3s ease-in-out;
}

.purple-card {
  border-radius: 10px;
  border: 3px solid #3f51b5;
}

.more-link {
  color: #3f51b5;
  cursor: pointer;
}

.more-description-link {
  color: #3f51b5;
  cursor: pointer;
}
.item {
  position: relative;
  overflow: hidden;
  width: 63%;
  height: 530px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.item img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease-out;
  
}

.item:hover img {
  transform: scale(1.5);
}
.custom-card {
  border-radius: 10px;
  border: 3px solid #585858;
  background-color: #f0f0f0;
  /* Ajusta el tamaño según sea necesario */
  max-width: 100%;
  margin: auto; /* Centra la carta en el contenedor padre */
  padding: 20px; /* Agrega espacio interno según sea necesario */
}
