
<div class="container mt-5" *ngIf="resource">
  <div class="row">
    <!-- Imagen principal grande -->
    <div class="col-md-8">
      <img [src]="resource.photo" class="img-fluid rounded polaroid main-image" alt="Large Image" (click)="showImage(resource.photo)">
    </div>
    
    <!-- Imágenes pequeñas relacionadas -->
    <div class="col-md-4">
      <div class="d-flex flex-wrap justify-content-center align-items-center">
        <div *ngFor="let image of resource.gallery" class="mr-2 mb-2 thumbnail-container" (click)="showImage(image)">
          <img [src]="image" class="thumbnail-img rounded polaroid" alt="Thumbnail Image">
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-8">
      <h2 class="mb-3">{{ resource.name }} Details</h2>
      <p class="mb-4">{{ resource.description }}</p>
      
      <!-- Sección de comentarios -->
      <app-description-comments [comments]="resource.comments"></app-description-comments>
    </div>
    
    <!-- Mapa, calificación y actividades -->
    <div class="col-md-4">
      <div class="card p-3">
        <app-map-rating-activities
          [latitud]="resource.latitud"
          [longitud]="resource.longitud"
          [rating]="resource.rating"
          [activities]="resource.activities"
        ></app-map-rating-activities>
      </div>
    </div>
  </div>
</div>
