<div style="display: flex;">
  <div id="actividades" style="flex: 1;">
    <h2>Actividades</h2>
    <div *ngFor="let activity of activities">
      <button class="btn" (click)="onActivityClick(activity.activity_code)">{{ activity.activity }}</button>
    </div>
  </div>

  <div id="recursos" style="flex: 1;">
    <h2>Lugares por Actividad</h2>
    <div *ngFor="let place of places">
      <p>DEPARTAMENTO:{{ place.department }}</p>
      <p>DISTRITO:{{ place.district}}</p>
    </div>
  </div>
</div>
