<div class="container mt-2">
    <div class="card m-5" id="carta">
      <div class="ruta">
        <div class="fila">
  
          <div class="card" id="mapa">
            <div class="card-body p-3">
              <app-mapa></app-mapa>
              <div class="card p-2 mt-2">
                <app-descripcion></app-descripcion>
              </div>
            </div>
          </div>
  
          <div class="card p-3" id="mapOptions">
            <app-map-option></app-map-option>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  