<br><a class="card-link">
  <div class="card p-1" style="width: 23rem; border-radius: 15px; border: 3px solid #3f51b5;">
    <div class="card-img-top contenedor">
      <img src="{{ resource.photo }}" alt="Resource Image" style="height: 160px; object-fit: cover; border-radius: 15px 15px 0 0; margin-left: -10px;">
    </div>
    <div class="card-body">
      <h3 class="card-title">{{ resource.name }}</h3>
      <p class="card-text">
        <br>
        <span>
          <strong>Category:</strong> {{ resource.sub_type_category }}
        </span>
        <br>
        <span>
          <strong>District:</strong> {{ resource.district }}
        </span>
        <br>
        <div class="rating-container">
          <form id="form">
            <p class="clasificacion">
              <input id="radio1" type="radio" name="estrellas" value="5" (click)="$event.stopPropagation()">
              <label for="radio1">★</label>
              <input id="radio2" type="radio" name="estrellas" value="4" (click)="$event.stopPropagation()">
              <label for="radio2">★</label>
              <input id="radio3" type="radio" name="estrellas" value="3" (click)="$event.stopPropagation()">
              <label for="radio3">★</label>
              <input id="radio4" type="radio" name="estrellas" value="2" (click)="$event.stopPropagation()">
              <label for="radio4">★</label>
              <input id="radio5" type="radio" name="estrellas" value="1" (click)="$event.stopPropagation()">
              <label for="radio5">★</label>
            </p>
          </form>
          <div class="button-container">
            <button [routerLink]="['/resource-details', resource.code]" class="circular-button">+</button>
          </div>
          <span><img src="../../assets/pin-icon.png" alt="" width="28" height="28"></span>
          <span><img src="../../assets/comment-icon.png" alt="" width="28" height="28"></span>
          
        </div>
      </div>
    </div>
</a>
