
/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://unpkg.com/leaflet@1.7.1/dist/leaflet.css");
@import url("node_modules/@fortawesome/fontawesome-free/css/all.min.css");

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  .row {
    margin: 0;
    padding: 0;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
