<div class="container mt-4">
  <div class="d-flex justify-content-center">
    <div class="card border-dark rounded-lg d-flex" style="width: 85%; border-width: 3px; background-color: rgb(168, 7, 168);">
      <div class="card-body p-0 d-flex flex-column flex-md-row" style="min-height: 550px">
        <div class="col-md-6">
          <img src="https://png.pngtree.com/thumb_back/fw800/background/20230408/pngtree-travel-around-the-world-background-image_2169513.jpg" alt="Tu Imagen" class="img-fluid rounded-left" style="width: 100%; height: 100%;">
        </div>

        <div class="card p-4" style="flex: 1; border: 3px solid rgb(168, 7, 168); border-radius: 0 15px 15px 0;">
          <h2 class="mb-4 text-center">Registrarse</h2>
          
          <div *ngIf="registrationSuccessful" class="alert alert-success" role="alert">
            ¡Registro exitoso! Redirigiendo a Recomendaciones...
          </div>

          <form (ngSubmit)="register(username.value, email.value, password.value)">
            <div class="form-group text-center" style="background-color: #f8f9fa; padding: 15px; border-radius: 10px;">
              <label for="username">Nombre de Usuario</label>
              <br><br>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="30" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                      <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a5 5 0 0 0-4.546 2.914.501.501 0 0 0 .928.372 4 4 0 1 1 7.236 0 .501.501 0 0 0 .928-.372A5 5 0 0 0 8 9z"/>
                    </svg>
                  </span>
                </div>
                <input type="text" class="form-control text-center" id="username" placeholder="Ingresa tu nombre de usuario" required #username>
              </div>
            </div><br>

            <div class="form-group text-center" style="background-color: #f8f9fa; padding: 15px; border-radius: 10px;">
              <label for="email">Correo Electrónico</label>
              <br><br>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="30" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                      <path d="M0 3a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V3z"/>
                      <path d="M0 3l8 5 8-5V4L8 9 0 4v-.994L8 10 16 4V3H0z"/>
                    </svg>
                  </span>
                </div>
                <input type="email" class="form-control text-center" id="email" placeholder="Ingresa tu correo" required #email>
              </div>
            </div><br>

            <div class="form-group text-center" style="background-color: #f8f9fa; padding: 15px; border-radius: 10px;">
              <label for="password">Contraseña</label>
              <br><br>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="30" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                      <path d="M8 1a3 3 0 0 1 3 3v2h1a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h1V4a3 3 0 0 1 3-3zm0 2a1 1 0 0 0-1 1v1h2V4a1 1 0 0 0-1-1zm5 6H3v5h10V9zm-5 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                    </svg>
                  </span>
                </div>
                <input type="password" class="form-control text-center" id="password" placeholder="Ingresa tu contraseña" required #password>
              </div>
            </div><br>

            <button type="submit" class="btn btn-success" style="background-color: rgb(168, 7, 168); width: 100%;">Registrarse</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
